<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974793572155-06jidmuu0ufscimj96v6oasfoj4aq2lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974793572155-06jidmuu0ufscimj96v6oasfoj4aq2lk</string>
	<key>API_KEY</key>
	<string>AIzaSyDVfjpafuGJhsUocwJHKJnfDN_DgCDjwpo</string>
	<key>GCM_SENDER_ID</key>
	<string>974793572155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.playmanager.ios</string>
	<key>PROJECT_ID</key>
	<string>play-manager-db27d</string>
	<key>STORAGE_BUCKET</key>
	<string>play-manager-db27d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974793572155:ios:3f13de727fae62f7e7411e</string>
</dict>
</plist>